{% load static %}

<link rel="stylesheet" href="{% static 'style/update.css' %}">

    <div class="wrapper">
        <h2 class="edit-task-heading"> Edit Task: {{task}} </h2>

    <form method='POST' action="">
        {% csrf_token %}
        {{form}}

        <input type="submit" name="edit" class="submit-button">
    </form>
    </div>


<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .wrapper{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .submit-button{
        background-color: cornflowerblue;
        color: black;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 10px;
    }
</style>